 ![png](ERD.png)

In [6]:
import pymysql
pymysql.install_as_MySQLdb()
from sqlalchemy import create_engine
from sqlalchemy_utils import create_database, database_exists
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:root@localhost/books"

In [7]:
engine = create_engine(connection)

In [8]:
create_database(connection)

In [9]:
database_exists(connection)

True

In [35]:
import pandas as pd
df_users = pd.read_csv('users.csv', index_col=False)
df_books = pd.read_csv('books.csv', index_col=False)
df_authors = pd.read_csv('authors.csv', index_col=False)
df_favs = pd.read_csv('favorites.csv', index_col=False)

In [38]:
del df_favs[index]

NameError: name 'index' is not defined

In [36]:
df_favs.head()

   user_id  book_id
0        1        1
1        1        2
2        1        3
3        2        4
4        2        5

In [27]:
df_users.to_sql('user', engine, if_exists = 'replace')

3

In [26]:
df_books.to_sql('books', engine, if_exists = 'replace')

6

In [28]:
df_authors.to_sql('author', engine, if_exists = 'replace')

5

In [29]:
df_favs.to_sql('user_has_books', engine, if_exists = 'replace')

7

In [30]:
q = """SELECT * FROM user LIMIT 5;"""
pd.read_sql(q, engine)

   index  id first_name  last_name                 email
0      0   1       John        Doe          JD@books.com
1      1   2      Robin      Smith       Robin@books.com
2      2   3     Gloria  Rodriguez  grodriquez@books.com